* {
  font-family: "Trebuchet MS", sans-serif;
}

#main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 100vh;
}

#button-holder{
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#rock {
  background: url("./images/rock.jpg");
  background-size: 100%;
  width: 200px;
  height: 200px;
}

#paper {
  background: url("./images/paper.jpg");
  width: 200px;
  height: 200px;
}

#scissors {
  background: url("./images/scissors.jpg");
  width: 200px;
  height: 200px;
  background-size: 100%;
}
